/******************************************* ESTILOS GENERALES ***************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.containers{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
}
.titles{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 2.3rem;
    text-align: center;
}
.parrafos{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
}
.images{
    width: 100%;
    height: 23.5rem;
}
/**************************************** ESTILOS CABECERA ******************************************/
.header{
    width: 100%;
    height: 7rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.header__left{
    width: 50%;
    height: 100%;
    display: flex
}
.header .header__left .left__img{
    margin-left: 1.8rem;
    width: 4.5rem;
}
.header .header__left .left__nav{
    display: none;
}
.header__right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.header .header__right .right__nav{
    display: none;
}
.header .header__right .right__img{
    width: 3rem;
    margin-right: 1.8rem;
}
/**************************************** ESTILOS CONTENEDOR ****************************************/
.main{
    width: 100%;
    height: auto;
}
.main .main__primary .primary__text{
    width: 100%;
    height: 26rem;
    background-color: #ffb811;
}
.main .main__primary .primary__text .text__title{
    color: #0044b4;
}
.main .main__primary .primary__text .text__p{
    color: #0044b4;
}
.main .main__secondary{
    background-color: #96b2e1;
}
.main .main__secondary .secondary__text{
    width: 100%;
    height: 26rem;
    background-color: #96b2e1;
}
.main .main__secondary .secondary__text .text__title{
    color: #0044b4;
}
.main .main__secondary .secondary__text .text__p{
    color: #0044b4;
}
.main .main__third{
    background-color: #96b2e1;
}
.main .main__third .third__text{
    width: 100%;
    height: 26rem;
    background-color: #96b2e1;
}
.main .main__third .third__text .text__title{
    color: #0044b4;
}
.main .main__third .third__text .text__p{
    color: #0044b4;
}
.main .main__fourth{
    background-color: #f3445e;
}
.main .main__fourth .fourth__text{
    width: 100%;
    height: 26rem;
    background-color: #f3445e;
}
.main .main__fourth .fourth__text .text__title, .text__p{
    color: white;
}
/**************************************** ESTILOS FOOTER ********************************************/
